@import 'base-variables';
$form-height:250px;
$chart-height:300px;
$chart-margin-bottom: 10px;

@import 'base-mixins';

.graphic-wrapper{
	@include clearfix();
	height:$chart-height + $chart-margin-bottom + $form-height;
	max-width:320px;
	overflow:hidden;
	background:rgba(green, .2);

}


.year-chart{
	@include trib-chart();
	margin: 0 0 $chart-margin-bottom 0;
	height:$chart-height;

	figcaption{
		@include label7();
	}

	.g-artboard{
		margin:0;
	}
}
.districts-search-wrapper{

 position: relative;
 height: $form-height;
 border: 1px solid #e0e0e0;
 background:rgba($trib-gray4, .95);
 width:99%;
 width:calc(100% - 2px);
}

.districts-search{
	display:block;
	text-align: center;    
	padding: 0;
	margin:15px 0 0 0;
	width:100%;

	&__header{
		@include label6();
		margin:0;
		line-height: 1em;
	}

	&__note{
		@include sans-serif();
		font-style:italic;
		margin:7px 0 0 0;
	}

	#search-box{
		font-size:18px;
		padding:15px 5px;
		width:90%;
		display:block;
		margin:15px auto;
		box-shadow: 2px 2px 6px rgba(black, .2);
		border: none;
		border-radius:3px;
	}
}

.submit-button{
	@include agate();
	font-size: 14px;
	font-weight: bold;
	color:white;
	line-height:1em;
	padding: 15px;
	margin: 0 auto;
	border: none;
	background: $trib_blue2;
	opacity:.75;
	border-radius: 3px;
	transition: all 200ms;
	cursor:pointer;
	text-decoration: none;

	&:hover{
		opacity:1;
		text-decoration: none;
		transition: all 200ms;
	}
}

.districts-search--mini {
	display:none;
	align-items: center;
	align-content: center;
	justify-content: center;
	flex-wrap:wrap; 

	text-align:center;
	height: 100%;

	.districts-search__header{
		width:100%;
	}

	.submit-button{
		padding: 15px 0;
		width: 90%;
		margin: 10px 0 0 0;
	}


}

@media all and (max-width:250px){
	.districts-search {display:none}
	.districts-search--mini {display:flex;}
}