@import 'base-variables';
$chart-width:280px;
$chart-height:350px;
@import 'base-mixins';

html{background:#aaa}

.graphic-wrapper{
	@include clearfix();
	height:$chart-height;
	background:white;
}

.year-chart{
	@include trib-chart();
	height:inherit;
	background:yellow;
	width:100%;
	max-width: $chart-width;
	float:left;

	figcaption{
		@include label7();
	}
}
.districts-search-wrapper{
	margin-left: $chart-width + 25px;
	height:$chart-height;
	display:flex;
    align-items: center;
}

.districts-search{
	background:rgba($trib-gray4, .5);
	text-align: center;
	border:1px solid $trib-gray4;
    width: 100%;
    height: 160px;
    padding: 25px 0;

    &__header{
    	@include label6();
    	margin:0;
    }

    &__note{
    	@include sans-serif();
    	font-style:italic;
    	margin:7px 0 0 0;
    }

	#search-box{
		font-size:18px;
		padding:15px;
		width:80%;
		display:block;
		margin:15px auto;
	}

	input[type='submit']{
		font-size:18px;
		padding:15px;
		display:block;
		margin:15px auto;
	}
}