@import 'base-variables';

$table_highlight:rgba($trib_blue5, .25);

@import 'base-mixins';
@import 'trib-skeleton';
@import 'datatables_cleanup';

.graphic-wrapper{
	max-width: 800px;
	margin:0 auto;
}

.trb_mainContent .scatter{
	@include trib-chart();

	&__container{
		width:100%;
		height:500px;
		// background:rgba(black, .1);
	}	

	&__label{
		@include label6();
		margin-top:25px 0 7px 0;
	}

	&__map{
		width:100%;
	}
}

.scatter--small{
	.scatter__container{
		height:300px;
	}	
}

.districts-lookup-legend{
	@include trib-legend();

	dt span{
		@include trib_legend__box(0);
		background:$table_highlight;
	}
}

.districts-lookup-label{
	@include label4();
}

.districts-lookup{
	@include trib-table();
}

.district{
	td:first-child{
		padding-left:5px;// font-weight: bold;
	}		
	td:last-child{
		padding-right:5px;// font-weight: bold;
	}		

	&[data-county="cook"], 
	&[data-county="lake"], 
	&[data-county="mchenry"], 
	&[data-county="kane"], 
	&[data-county="will"], 
	&[data-county="dupage"]{
		background:$table_highlight;
	}
	&__city{
		font-style:italic;
	}
}


.axis-label{
	@include sans-serif-text(16px, 1.4em, bold);
}