@import 'base-variables';

$local_color: $trib_blue2;
$state_color: $trib_blue4;
$federal_color: $trib_gray4;
$table_highlight:rgba($trib_tan, .40);

@import 'base-mixins';
@import 'trib-skeleton';
@import 'datatables_cleanup';
@import 'district-funding-bars';
@import 'spinner';

.graphic-wrapper{
	max-width: 800px;
	margin:0 auto;
}

.trb_mainContent .story-link{
	padding:15px;
	background:$trib_blue5;
    float: right;
    max-width: 200px;
    margin: 0 0 15px 25px;
    border-left:2px solid $trib_blue2;

	p{
		@include sans-serif();
		margin:0;
		cursor:pointer;
	}
}

.trb_mainContent .scatter{
	@include trib-chart();
	margin:0;
	
	figcaption p{
		margin-top:0;
	}

	&__container{
		width:100%;
		height:450px !important;
		position:relative;
		// background:rgba(black, .1);
	}	

	.scatter__label{
		@include label6();
		margin:0 0 7px 0;
	}
	
	&__map{
		width:100%;
		max-width:200px;
		display:block;
		margin:0 auto 15px auto;
	}

	&__median-label{
		@include sans-serif-text(16px, 1em);
	}

	&__county-label{
		@include sans-serif-text(12px, 1em);
	}	

	&__district{
		opacity:.25;
		fill:$trib-blue2;
		cursor:pointer;

		&:hover{
			opacity:1;
			stroke:black;
			stroke-width:2;
		}
	}

	&__legend{
		@include trib-legend();

		span{
			@include trib_legend__box('circle');
			background:rgba($trib_blue2, .25);
		}
	}
}


.trb_mainContent .scatter--small{
	margin:30px 0 0 0;
	padding:35px 0 0 0;
	border-top:1px solid $trib-gray4;
	.scatter__container{
		height:425px;
	}	
}

.trb_mainContent .notes {
	@include sans-serif-text(12px, 1.3em);
	margin:0;
}


.trb_mainContent {

	.map-label{
		@include label7();
		margin: 0 0 7px 0;
	}

	.map-legend{
		width:100%;
		height:25px;
		display:flex;
		justify-content:space-between;
		align-items:center;
		background: linear-gradient(to right, #ffffff 0%,#08306b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		border:1px solid $trib-gray4;

		.map-legend__label{
			@include agate();
			margin:0;
			padding:0 5px;
			font-weight: bold;
			display:inline;

			&--higher{
				color:white;
			}
		}
	}
}


.districts-lookup-legend__label{
	@include sans-serif-text(16px, 1.3em, bold);
}


.districts-lookup-legend--table{
	@include trib-legend();

	.trib-legend__box--local-district{
		@include trib_legend__box(0);
		background:$table_highlight;
	}

	.trib-legend__box--local-money{
		@include trib_legend__box(0);
		background:$local_color;
	}
	.trib-legend__box--state-money{
		@include trib_legend__box(0);
		background:$state_color;
	}
	.trib-legend__box--federal-money{
		@include trib_legend__box(0);
		background:$federal_color;
	}
}

.districts-lookup-label{
	@include label4();
	margin:25px 0 0 0;
}

.districts-lookup{
	@include trib-table();
	width:100% !important;
}

.district{
	td:first-child{
		padding-left:5px;// font-weight: bold;
	}		
	td:last-child{
		padding-right:5px;// font-weight: bold;
	}		

	&[data-county="cook"], 
	&[data-county="lake"], 
	&[data-county="mchenry"], 
	&[data-county="kane"], 
	&[data-county="will"], 
	&[data-county="dupage"]{
		background:$table_highlight;
	}
	&__city{
		font-style:italic;
	}
}


.district{
	.district__control{
		font-family: trb_Icons;
		font-size: 14px;
		line-height: 1em;
		margin: 0;
		padding: 0;
		transition:all 250ms;
	}

	&.parent .district__control{
		transform: rotate(90deg);
		transition:all 250ms;
	}
}


.axis-label{
	@include sans-serif-text(16px, 1.4em, bold);
}

.tooltip{
	@include agate();
	background:rgba(black, .75);
	color:white;
	padding:10px;
}

.trb_mainContent .credits p{
	@include agate();
}




@media all and (max-width:840px){
	.trb_mainContent{
		.scatter__map, .map-label, .map-legend{
			display: none;
		}
	}
}

@media all and (max-width:420px){
	.trb_mainContent{
		.scatter__label{
			font-size:20px;
		}
	}
}