{#
 # Template for an HTML story published to P2P.
 #
 # If you want to publish multiple HTML stories, copy, or inherit from
 # this template.
 # 
 #}
{% block content %}
<div class='graphic-wrapper'>
	<figure class='year-chart'>
		<figcaption>
			chart label here
		</figcaption>
	</figure>
	<form class='districts-search'>
		  Enter your Name <br />
		  <input id="search-box" type="text" name="search" text="Town or district name"><br />
		  <input type='submit' value = "Search" />
	  </form>
</div>
{% endblock content %}

{% block library_scripts %}
{# Uncomment this if you are using libraries such as jQuery #}
<script src="//{{ ROOT_URL }}/js/vendor.min.js"></script>
{% endblock %}

{% block scripts %}
{# Uncomment this if you are using custom JavaScript #}
{# <script src="//{{ ROOT_URL }}/js/blurb.min.js"></script> #}
<script>

var $ = require('jquery');

(function(document) {
	
  var CSS = [
    "//{{ ROOT_URL }}/css/blurb.css"
  ];
  CSS.forEach(function(url) {
    var link = document.createElement('link');
    link.setAttribute('rel', 'stylesheet');
    link.setAttribute('href', url);
    document.head.appendChild(link);
  });
})(document);

window.onload = function(){
	document.querySelector(".districts-search").addEventListener("submit", function(e){
		e.preventDefault(); 
		var searchValue = document.getElementById('search-box').value;
		console.log('submit', searchValue);
		window.location = `http://{{ ROOT_URL }}/htmlstories/ct-local-school-funding#districts-lookup?search="${encodeURIComponent(searchValue)}"`;
		// return false
	})
}

</script>
{% endblock scripts %}
