{#
 # Template for an HTML story published to P2P.
 #
 # If you want to publish multiple HTML stories, copy, or inherit from
 # this template.
 # 
 #}
{% block content %}
<div class='graphic-wrapper'>
	{{ intro|markdown }}
	
	<figure class='scatter' >
		<figcaption>
			<p class='scatter__label'>{{ chart_label }}</p>	
		</figcaption>
		<div class='scatter__container' data-highlight='all'></div>
	</figure>
	{%- for chart in charts %}
		{%- if loop.index is odd %}
			<div class='row'>
		{% endif %}
		<div class='six columns'>
			<figure class='scatter scatter--small' >
				<figcaption>
					<p class='scatter__label'>{{ chart.chart_label }}</p>	
					{{ chart.blurb|markdown }}
				</figcaption>
				<div class='scatter__container' data-highlight='{{ chart.county_group }}'></div>
			</figure>
		</div>
		{%- if loop.index is even %}
			</div>
		{% endif %}
	{%- endfor %}

	{% include "_lookup-table.html" %}


</div>
{% endblock content %}

{% block library_scripts %}
{# Uncomment this if you are using libraries such as jQuery #}
<script src="//{{ ROOT_URL }}/js/vendor.min.js"></script>
{% endblock %}

{% block scripts %}
{# Uncomment this if you are using custom JavaScript #}
<script src="//{{ ROOT_URL }}/js/app.min.js"></script>
<script>
(function(document) {
	var $ = require('jquery');
	var dt = require( 'datatables.net' )( window, $ );

	window.ROOT_URL = "{{ ROOT_URL }}";
	window.x_label = "{{ x_label }}";
	window.x_series = "{{ x_series }}";
	window.y_label = "{{ y_label }}";
	window.y_series = "{{ y_series }}";
	window.countyGroups = {
		{%- for county_group in ["north", 'chicagoArea', 'central', "south"] -%}
			{{ county_group }}:[
				{%- for county in county_groups if county.group == county_group -%}
				"{{ county.county }}" {% if not loop.last%},{% endif %}
				{%- endfor -%}
				]{% if not loop.last%},{% endif %}
		{%- endfor -%}
	};

  var CSS = [
	"//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css",
	"//cdn.datatables.net/responsive/2.1.0/css/responsive.dataTables.min.css",
    "//{{ ROOT_URL }}/css/styles.css"
  ];
  CSS.forEach(function(url) {
    var link = document.createElement('link');
    link.setAttribute('rel', 'stylesheet');
    link.setAttribute('href', url);
    document.head.appendChild(link);
  });


	var districtsLookup = $('#districts-lookup').DataTable({
		"paging": true,
		"searching": true,
		"ordering": true,
		"order": [[ 2, "desc" ]],
		"bAutoWidth":false,
		"responsive": {
			details:{
				type: 'column',
				target: 'tr'
		}, 
		breakpoints: [
			{ name: 'desktop', width: Infinity },
			{ name: 'tablet',  width: 840 },
			{ name: 'phone',   width: 420 }
		],
		}
	});

})(document);
</script>
{% endblock scripts %}
