<h2 class='districts-lookup-label'>Look up your district</h2>
{{ lookup_intro|markdown }}
<div class='row'>
	<div class='three columns'>
		<h3 class='districts-lookup-legend__label'>Location</h3>
		<dl class='districts-lookup-legend--table'>
			<dt>
				<span class='trib-legend__box trib-legend__box--local-district'></span>
			</dt>
			<dd>Chicago-area county</dd>
		</dl>
	</div>
	<div class='nine columns'>
		<h3 class='districts-lookup-legend__label'>Percentage of funding by source</h3>
		<dl class='districts-lookup-legend--funding'>
			<dt>
				<span class='trib-legend__box trib-legend__box--local-money'></span>
			</dt>
			<dd>Local</dd>
			<dt>
				<span class='trib-legend__box trib-legend__box--state-money'></span>
			</dt>
			<dd>State</dd>
			<dt>
				<span class='trib-legend__box trib-legend__box--federal-money'></span>
			</dt>
			<dd>Federal</dd>
		</dl>
	</div>
</div>

<table id='districts-lookup' class='districts-lookup'>
	<thead>
		<tr>
			<th class='control'></th>
			<th>District<br /><em>City</em></th>
			<th class='none'>City</th>
			<th>County</th>
			<th class='align-right'>Enrollment</th>
			<th class='min-tablet'>Funding by source<br /><em>Local funding noted</em></th>
			<th class='align-right none'>Local revenue ($)</th>
			<th class='align-right max-tablet'>Local revenue (%)</th>
			<th class='align-right none'>State revenue ($)</th>
			<th class='align-right none'>State revenue (%)</th>
		</tr>
	</thead>
	<tbody>
		{%- for district in districts -%}
			<tr class='district' data-county="{{ district.county|lower }}">
				<td class='district__control'>w</td>
				<td>
					<span class='district__name'>{{ district.district_name }}</span> <br />
					<span class='district__city'>{{ district.city }}</span>
				</td>
				<th>{{ district.city }}</th>
				<td class='district__county'>{{ district.county }}</td>
				<td class='align-right'>
					{% if district.DISTRICT_TOTAL_ENROLLMENT %}
						{{ "{:,}".format(district.DISTRICT_TOTAL_ENROLLMENT) }}
					{% else %}
						Not available
					{% endif %}
				</td>
				<td data-order={{ district.percent_local_dollars }}>
					{% if district.percent_local_dollars and district.percent_state_dollars and district.percent_federal_dollars %}
					<div class='bar-wrapper'>
						<div class='bar bar--local' style='width:{{ district.percent_local_dollars*100 }}%'>
							{% if district.percent_local_dollars >= 0.50 %}
								<span>{{ "{:.1%}".format(district.percent_local_dollars) }}</span>
							{% endif %}
						</div>
						<div class='bar bar--state' style='width:{{ district.percent_state_dollars*100 }}%'>
							{% if district.percent_local_dollars < 0.50 %}
								<small>&#9664;&nbsp;</small> {{ "{:.1%}".format(district.percent_local_dollars) }}
							{% endif %}
						</div>
						<div class='bar bar--federal' style='width:{{ district.percent_federal_dollars*100 }}%'></div>
					</div>
					{% else %}
						Not available
					{% endif %}
				</td>
				<td class='align-right'>
					{% if district.total_local_dollars %}
						${{ "{:,}".format(district.total_local_dollars) }}
					{% else %}
						Not available
					{% endif %}
				</td>
				<td class='align-right'>
					{% if district.percent_local_dollars %}
						{{ "{:.1%}".format(district.percent_local_dollars) }}
					{% else %}
						Not available
					{% endif %}
				</td>
				<td class='align-right'>
					state dollars TK
				</td>
				<td class='align-right'>
					{% if district.percent_state_dollars %}
						{# {{ "{:.1%}".format(district.percent_state_dollars) }} #}
						{{ district.percent_state_dollars }}
					{% else %}
						Not available
					{% endif %}
				</td>
			</tr>
		{%- endfor -%}
	</tbody>
</table>